* {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    background-color: #700b0b;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;

}
header {
    background-color: #700b0b;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;

}
body {
    color: #404040
           font-size: 14px;
}
main {
    background-color: #F2F2F2;
}
footer {
    color: #FFFFFF;
    background-color: #404040;
}
#logo {
    height: 60px;
}
h2 {
    font-weight: bold;
    font-size: 26px;
}
h1 {
    font-size: 50px;
}
.articlepic {
    height: 278px;
    width: 370px
}
#footerpic {
    height: 85px;
    width: 108px;        
}
